.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html{
  background-color: #142026;
  font-family: "Poppins", sans-serif;
}

body{
  margin: 10% 20% 0 20%;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,p{
  color: white;
}

li{
  list-style: none;
}

header{
  padding-bottom: 5%;
}

h1{
  font-weight: 400;
  font-size: 3rem;
  margin: 0 auto;
}

h3{
  font-weight: 300;
  font-style: italic;
}

a{
  text-decoration: none;
  transition: ease-in 0.12s;
}

a:hover{
  opacity: 0.6;
  transition: ease-in 0.12s;
}

li{
  padding: 1.4em 0 0.7em 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);

  a{
    display: flex;
    justify-content: space-between;
  }


  img{
    width: 2.5%;
  }

  h2{
    font-weight: 600;
    font-size: 1.5rem;
  }

}

footer{
  margin: 7% 0;

  div{
    display: flex;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
  }
}

button{
  background-color: #5c9eb6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

  a{
    text-decoration: none;
    color: white;
  }
}

button:hover{
  cursor: pointer;
}

div.centeredcontainer{
  margin: 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.long{
  max-width: 660px;
  line-height: 1.7;
  margin-bottom: 2em;
}

i{
  font-style: italic;
}

em{
  font-weight: 600;
}

h2.sub{
  font-size: 2rem;
}

ul.dot{
  li{
    border: none;
    list-style-type: disc;
    color: white
  }

  margin-left: 2vw;
}

h2.spacetop{
  margin-top: 1.7rem;
}

li.last{
  padding-bottom: 0;
}

.border-btm{
  margin: 2em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (width <= 1250px) {
  li{

    a{

      img{
        width: 0;
      }

    }

  }

  html{
    line-height: 1.5;
  }

  h1{
    font-size: 3rem;
    line-height: 1.1;
    padding-bottom: 0.2em;
  }

  footer{
    margin: 16% 0;
  }

  body{
    margin: 10% 10% 0 10%;
  }

  button{
    margin-top: 2%;
  }

  div.centeredcontainer{
    margin-top: 8%;
  }

  iframe{
    max-width: 100%;
  }
}

